/* generale */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* bottoni */

#button-accedi ,
#scarica-mac {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 9px 13px;
    border: none;
}

#apri-discord {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 9px 13px;
    border: none;

}

/* header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    background-color: #2A5EE8;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 80%;
    padding: 0 10px;
    background-color: #2A5EE8;
}

.nav-logo {
    flex-basis: 20%;
}

.nav-link {
    flex-grow: 1;
}

.nav-link ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-link a {
    color: white;
    text-decoration: none;
}

.nav-login {
    flex-basis: 20%;
    text-align: right;
}


/* jumbotron */

.jumbotron {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 464px;
}

.jumbotron-content {
    width: 60%;
    padding: 0 8%;
    text-align: center;
    font-size: 19px;
}

.jumbotron-content h1 {
    color: white;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 45px;
}

.jumbotron-content p {
    color: white;
    margin-bottom: 20px;
}


/* contenuto principale */

.first-section ,
.second-section ,
.third-section ,
.fourth-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.first-section .big {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 7%;
}

.first-section .small {
    padding-right: 11%;
}

.small h1 {
    font-size: 40px;
    margin-bottom: 9%;
}


.second-section {
    /* DEBUG */
    height: 500px;
    background-color: lightgrey;
}

.third-section {

}

.fourth-section {
    /* DEBUG */
    height: 1000px;
    background-color: lightgrey;
}

.big {
    width: 50%;
    font-size: 19px;
}

.small {
    width: 30%;
    font-size: 18px;
}


.block {
    width: 80%;
    /* DEBUG */
    background-color: brown;
    height: 900px;
    border: 1px dashed black;
}


/* footer */

.first-footer-container {
    display: flex;
    justify-content: center;
    /* DEBUG */
    background-color: dimgrey;
    height: 500px;
}

.left-footer{
    width: 20%;
    margin-top: 10px;
    /* DEBUG */
    background-color: palevioletred;
    height: 450px;
    border: 1px dashed black;
}

.right-footer {
    width: 60%;
    margin-top: 10px;
    /* DEBUG */
    background-color: crimson;
    height: 450px;
}

.nav-footer-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-block {
    flex-basis: 25%;
    /* DEBUG */
    border: 1px dashed white;
}

hr {
    /* DEBUG */
    background-color: lightgrey;
    
}

.second-footer-container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* DEBUG */
    background-color: dimgrey;
}

.second-footer {
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    background-color: #7f0000;
}

 .logo-footer , .bottone-footer {
    padding: 3px 5px;
    /* DEBUG */
    background-color: #ff6e49;
}

